[Unit]
Description=VNC Server for X11
Requires=display-manager.service
After=multi-user.target

[Service]
ExecStart=/usr/bin/x11vnc -auth guess -display :0 -localhost -nopw -shared -forever -o /var/log/x11vnc.log
ExecStop=/usr/bin/x11vnc -R stop
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
